@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.btn.badge{
  font-size: 0.9em;
}
.table-actions{
  white-space: nowrap !important;
}
.dataTable{
  width: 100% !important;
  td:nth-child(4){
    word-break: break-all !important;
  }
}
